﻿<div class="jumbotron">
    <h1>Apis Generadas</h1>
   
</div>
<div class="row">
    <div class="col-md-4">
        <h2>/Api/UserList</h2>
        <p>Devuelve un listado de Todos los registros guardados en la BD que se encuentra en /bin/x_Prueba.db</p>
      
    </div>
    <div class="col-md-4">
        <h2>/Api/UserSave</h2>
        <p>
            Permite Grabar o Actualizar un Registro los parametros son: <br />
            ?Id=0&name=xxxx&lastName= xxxxx&address=xxxxxx
            Si Id=0 crea uno nuevo
            Si Id!=0 actualiza el indicado 
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>/Api/UserDelete</h2>
        <p>Permite Eliminar un registro <br />
           El parametro es:
           Id= Numero de Registro
        </p>
    </div>
</div>
